@view-transition {
  navigation: auto;
}

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";


// https://coolors.co/f9a03f-e3170a-06d6a0-118ab2-073b4c
$theme-colors: (
  "primary":    #F9A03F,
  "secondary":  $secondary,
  "success":    #06D6A0,
  "info":       #118AB2,
  "warning":    $warning,
  "danger":     #E3170A,
  "light":      $light,
  "dark":       $dark
);
@import "../../node_modules/bootstrap/scss/bootstrap";

:root{
  color-scheme: only dark;
  --bs-font-sans-serif: "Share Tech Mono", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.join-us-nav-btn-contain{
  margin-left: auto;
}
.navbar-brand{
  user-select: none;
}

.join-us-nav-btn-contain a{
  transform: scale(1);
  transition: all 0.5s;
}
.join-us-nav-btn-contain a:hover{
  transform: scale(1.2);
}

.navbar{
  --bs-bg-opacity: 0.5;
  backdrop-filter: blur(3px);
}
.nav-link{
  user-select: none;
}


#rootContainer{
  height: 100dvh;
  width: 100dvw;
  overflow: auto;//y-axis scrollbar may not be able to overlay
  // scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}
