@use "sass:map";
@import "./base.scss";

#rootContainer{
  // BUG WITH CHROME: https://issues.chromium.org/issues/40196176
  scroll-behavior: unset!important;
}

.join-us-special-contain{
  background: linear-gradient(156deg, map.get($theme-colors, "info") 10%, map.get($theme-colors, "success") 50%, map.get($theme-colors, "primary") 90%);
  height: 100dvh;
  overflow: auto;
  padding: ($navbar-brand-height + $navbar-padding-y*2 + $navbar-brand-padding-y*2 + 1.5rem) 1em 1em 1em;
  transition: height 0.25s;
}
.join-us-box{
  width: 50vw;
  margin: auto;
  min-width: 300px;
  padding: 2em;
  border-radius: 1em;
  background-color: $dark;
  max-width: 600px;

}