@use "sass:map";
@import "./base.scss";

.section {
  position: relative;
  // min-height: 100dvh;
  flex-basis: 100dvh;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  padding: ($navbar-brand-height + $navbar-padding-y*2 + $navbar-brand-padding-y*2) 0;
  contain: paint;
  transition: flex-basis 0.25s;
  // scroll-snap-align: start;
  // scroll-snap-stop: always;
}

.sectionMedia {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  // animation: mediaIntroKeyframe 1s forwards;
}

.section .sectionMediaContain {
  position: absolute;
  inset: 0;
}

.section .sectionMediaContain .sectionMedia {
  position: sticky;
  transform: none;
  top: 0;
  left: 0;
  height: 100dvh;
  transition: height 0.25s;
  width: 100%;
}

.section>.sectionMedia,
.section>.sectionMediaContain>.sectionMedia {
  opacity: 0;
  scale: 1.5;
  transition: all 1s;
}

.section.is-in-view>.sectionMedia,
.section.is-in-view>.sectionMediaContain>.sectionMedia {
  opacity: 1;
  scale: 1;
  transition: all 1s;
}

.sectionMedia.has-blur {
  filter: blur(3px);
}

.sectionWordContain {
  position: absolute;
  bottom: 12dvh;
  right: 10dvh;
  text-align: right;
  overflow: hidden;
}

.section .sectionWordContain .mainWordContain {
  position: relative;
  background-color: black;
  padding: 0.5rem;
  translate: 150% 0%;
  transition: translate 1s ease-out;
}

.section.is-in-view .sectionWordContain .mainWordContain {
  translate: 0% 0%;
}

.section .sectionWordContain .mainWordContain::before {
  position: absolute;
  inset: 0;
  content: "";
  width: 100%;
  height: 120%;
  background-color: map.get($theme-colors, "primary");
  translate: 50% 0%;
  transition: translate 0.75s ease-out;
}

.section .sectionWordContain .mainWordContain::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 120%;
  background-color: white;
  translate: 50% 0%;
  transition: translate 1s ease-out;
}

.section.is-in-view .sectionWordContain .mainWordContain::before,
.section.is-in-view .sectionWordContain .mainWordContain::after {
  translate: -101% 0%;
}


.section>.down-arrow-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  bottom: 0.5rem;
  align-items: center;
  opacity: 0;
  transition: 0.5s ease-out;
}

.section.is-in-view>.down-arrow-container {
  transition-delay: 1s;
  opacity: 1;
}

.down-arrow-container p {
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow:
    -2px -2px 6px #000,
    2px 2px 6px #000;
}

.down-arrow-container .down-arrow {
  user-select: none;
  font-size: 3rem;
  margin-top: -0.5rem;
  text-shadow:
    -2px -2px 12px #000,
    2px 2px 12px #000;
  animation: bounce-arrow 1s ease-in-out infinite;

}

@media (max-width: 400px) {
  .down-arrow-container p {
    font-size: 1.25rem;
  }

  .down-arrow-container .down-arrow {
    margin-top: -0.25rem;
    font-size: 2rem;
  }
}

@keyframes bounce-arrow {

  0%,
  100% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(20%);
  }
}

.benefits-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits-contain .box-contain {
  position: relative;
}

.benefits-contain .box-contain .box {
  opacity: 0;
  background-color: black;
  color: white;
  transition: opacity 0.25s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  width: 60vw;
  min-width: 350px;
  text-align: center;
}

.benefits-contain .box-contain::after {
  position: absolute;
  inset: 0;
  width: 0%;
  margin: auto;
  opacity: 0;
  background-color: white;
  content: "";
  pointer-events: none;
}

.benefits-contain.section.is-in-view .box-contain::after {
  animation: boxIntroAnim 0.5s linear forwards;
}

.benefits-contain.section.is-in-view .box-contain .box {
  transition-delay: 0.25s;
  opacity: 1;
}

.benefits-contain.section.is-in-view .box-contain .box h3,
.benefits-contain.section.is-in-view .box-contain .box p {
  margin-bottom: 0;
}

.benefits-contain.section.is-in-view .box-contain .box .btn {
  margin-bottom: 0.5rem;
  translate: 0% 0%;
  transition: translate 0.2s;
}

.benefits-contain.section.is-in-view .box-contain .box .btn:hover {
  translate: 0% -10%;
}

@keyframes boxIntroAnim {
  0% {
    opacity: 0;
    width: 0%;
  }

  10% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}


.section .cardsContainer {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
}

.section .cardsContainer .card {
  min-width: 200px;
  flex: 1;
  padding: 0.5rem;
  justify-content: center;
  border: none;
  background: none;
}

.section .cardsContainer .card .icon {
  font-size: 4rem;
  user-select: none;
  padding: 0.5rem;
}