@import "./pageCover.scss";
.section.timetableContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $navbar-brand-height + $navbar-padding-y*2 + $navbar-brand-padding-y*2 + 0.5rem;
}

.section.timetableContainer .box{
  opacity: 0;
  padding: 2rem;
  border-radius: 1em;
  width: 60vw;
  min-width: 350px;
  background-color: rgba($dark, 0.75);
  backdrop-filter: blur(2px);
  z-index: 1;
  text-align: center;
  transition: opacity 1s;
}
.section.timetableContainer.is-in-view .box{
  opacity: 1;
}

/* Optional: Smooth fade-in */
#moreWeeks {
  transition: all 0.5s ease-in-out;
}

li{
  list-style-position: inside;
}

td:nth-child(3){//Third Column
  text-align: left;
}


#calendarContainer{
  overflow-x: auto;
}